ul {
	margin-left:10%;
}
table {
	 margin-left:auto; 
	 margin-right:auto; 
	 border-collapse: collapse;
}
th {
	text-align:center;
}
td {
	 text-align:center;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	background-color: orange;
}
a:active {
	text-decoration: none;
}
tbody {
	font-style: italic;
}
tbody tr:nth-child(even){
	background-color: LawnGreen;
}
table {
	background-color: LemonChiffon;
}
p {
	text-align:center;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}