ul {
	margin-left:10%;
}
table {
	 margin-left:auto; 
	 margin-right:auto; 
	 border-collapse: collapse;
}
td {
	 text-align:center;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	background-color: orange;
}
a:active {
	text-decoration: none;
}
tbody {
	font-style: italic;
}
table {
	background-color: LemonChiffon;
}