header {
	text-align:center;
}
.name {
	font-family: 'Ubuntu';
}
#nav a:visited{
	color:red
}
#nav a:hover{
	font-weight:bold;
}
#nav a:active{
	text-decoration:none;
}
.right {
	text-align:right;
}
.left {
	text-align:left;
}
td {
	text-align:center;
}
.menu {
	background-color: red;
}
.beverages {
	padding-right: 20px;
}